
main{
    margin:0;
    height: 100vh;
    width: 100%;
}

.second_page{
    display: grid;
    padding-left: 2vh;
    padding-right: 2vh;
    grid-template-columns: 1;
    grid-template-rows: 33.33vh 33.33vh 33.33vh;
    font-family:'avenir';
    src: url(AvenirLTStd-Black.otf);
    font-size: 30.01pt;
}

.second_page>:nth-child(1){
    grid-template-rows: 1/2;
    font-weight: 200;
    src: url(AvenirLTStd-Black.otf);
}

.middle{
    padding-top: 8vh;
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1;
}

.middle>:nth-child(1){
    grid-column: 1/2;
    font-family:'avenir';
}

.middle>:nth-child(2){
    grid-column: 2/3;
    align-self:baseline;
    justify-self: end;
    padding-top: 60%;
}

.you_image{
    grid-row: 3/4;
    position: relative;
    justify-self: center;
    }

.you_image>p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
    padding-top: 6vh;
    font-size: 200pt;
}

    .bottom_bar{
        padding-left: 0vh;
        position: fixed;
        bottom: 0;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 70px;
        margin: 0%;
        width: 100%;
        height: 70px;
        background-color: black;
        color: white;
        font-family:'palatino';
        font-size: 30px;
        src: url(pala.ttf);
    }
    
    .bottom_bar>:nth-child(1){
        align-self: center;
        justify-self: center;
        grid-column: 2;
    }
    
    .bottom_bar>:nth-child(2){
        align-self: center;
        justify-self: center;
        grid-column: 3;
    }

    a{
        color: white;
    }

    @media only screen and (max-width:414px) {
        .second_page{
            column-width: 100%;
        }
        .middle{
            column-width: 100%;
        }
        .you_image{
            width: 100%;
        }
    }