main{
    margin:0;
    height: 896px;
    width: 414px;
    padding: 5px;
}

.landing_page{
    display: grid;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    font-family:'palatino';
    src: url(pala.ttf);
    font-size: 100.01pt;
    gap: 2vh;
    grid-template-areas: 'overlap';
}

.white_block{
    width: 100%;
    height: 147px;
    background-color: white;
    grid-row: 8;
}

.landing_page>p{
    padding:0%;
    margin: 0%;
}

/* 2688x1242px at 458ppi */
@media only screen 
    and (device-width: 414px) 
    and (device-height: 896px) 
    and (-webkit-device-pixel-ratio: 3) { }